img{
    width: 100%;
}

.kartya{
    width: 300px;
    border: 1px solid black;
    text-align: center;

}

.kartya button{
    background-color: beige;
}

.tarolo{
    display: flex;
    flex-wrap: wrap;
}

.nagyKep img{
    width: 150%;
}